
<div class="pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal">
            <i class="fa fa-star"></i> Make it public
        </button>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        New Activity
    </button>
</div>

<h1 data-bind="text: projectName"></h1>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>pending</h3>
            </div>
            <div data-bind="foreach: newActivities" class="panel-body">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <a style="cursor: pointer"
                               data-bind="text:name,
                               click:$module.showNewActivityModal">

                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <i class="fa fa-user-o" aria-hidden="true"
                               data-bind="visible:owner != null"></i>
                            <span data-bind="text: owner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="">in-progress</h3>
            </div>
            <div data-bind="foreach: inProgressActivities" class="panel-body">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <a style="cursor: pointer"
                               data-bind="text:name,
                               click:$module.showInProgresActivityModal">

                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <i class="fa fa-user-o" aria-hidden="true"
                               data-bind="visible:owner != null"></i>
                            <span data-bind="text: owner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-muted">completed</h3>
            </div>
            <div data-bind="foreach: doneActivities" class="panel-body text-muted">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <a style="cursor: pointer"
                               class="text-muted"
                               data-bind="text:name">

                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <i class="fa fa-user-o" aria-hidden="true"
                               data-bind="visible:owner != null"></i>
                            <span data-bind="text: owner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="activity-display-view">
    <div class="form-group">
        <label class="control-label">Description</label>
        <span class="form-control" data-bind="text: $data.description"/>
        <span class="control-label kf-error-container has-error"
              data-kf-error-for="activity.description"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Owner</label>
        <span class="form-control" data-bind="text: $data.owner"/>
        <span class="control-label kf-error-container has-error"
              data-kf-error-for="activity.description"></span>
    </div>
</script>

<!-- Modal -->
<div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"
                    data-bind="text: selectedActivityModal().name"></h4>
            </div>
            <div class="modal-body">
                <div data-bind="template: { name: 'activity-display-view', data: selectedActivityModal() }"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-loading-text="Loading..."
                        id="move-to-button"
                        data-bind="click: moveToInprogress">Move to in progress</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inProgressActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"
                    data-bind="text: selectedActivityModal().name"></h4>
            </div>
            <div class="modal-body">
                <div data-bind="template: { name: 'activity-display-view', data: selectedActivityModal() }"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-loading-text="Loading..."
                        id="move-to-button"
                        data-bind="click: moveToCompleted">Move to Completed</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Activity</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Name *</label>
                    <input class="form-control" data-bind="value: newActivity.name" maxlength="100">
                    <span class="control-label kf-error-container has-error"
                          data-kf-error-for="activity.name"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input class="form-control" data-bind="value: newActivity.description" maxlength="300">
                    <span class="control-label kf-error-container has-error"
                          data-kf-error-for="activity.description"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Owner</label>
                    <input class="form-control" data-bind="value: newActivity.owner" maxlength="100">
                    <span class="control-label kf-error-container has-error"
                          data-kf-error-for="activity.description"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-loading-text="Loading..." data-bind="click: createActivity">Create new activity</button>
            </div>
        </div>
    </div>
</div>
