<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Activity</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Name *</label>
                    <input class="form-control" data-bind="value: newActivity.name" maxlength="100">
                    <span class="control-label kf-error-container has-error"
                          data-kf-error-for="activity.name"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input class="form-control" data-bind="value: newActivity.description" maxlength="300">
                    <span class="control-label kf-error-container has-error"
                          data-kf-error-for="activity.description"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Owner</label>
                    <input class="form-control" data-bind="value: newActivity.owner" maxlength="100">
                    <span class="control-label kf-error-container has-error"
                          data-kf-error-for="activity.description"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-loading-text="Loading..." data-bind="click: createActivity">Save changes</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
    New Activity
</button>
<h1 data-bind="text: projectName"></h1>
<div class="row">
    <div class="col-md-4">
        <div class="panel-heading">
            <h3>backlog</h3>
        </div>
        <div class="panel">
            <div class="panel-body">
                <table id="table" summary="Activity List" aria-label="Activities Table"
                       data-bind="ojComponent: {component: 'ojTable', 
                       data: newActivitiesDatasource, 
                       columnsDefault: {sortable: 'disabled'},
                       columns: [{field: 'name'}]}">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel">
            <div class="panel-heading">
                <h3>in-progress</h3>
            </div>
            <div class="panel-body">
                <table id="table-ip" summary="Activity List" aria-label="Activities Table"
                       data-bind="ojComponent: {component: 'ojTable', 
                       data: inProgressDatasource, 
                       columnsDefault: {sortable: 'disabled'},
                       columns: [{field: 'name'}]}">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-heading">
            <h3>done</h3>
        </div>
        <div class="panel">
            <div class="panel-body">
                <table id="table-done" summary="Activity List" aria-label="Activities Table"
                       data-bind="ojComponent: {component: 'ojTable', 
                       data: doneDatasource, 
                       columnsDefault: {sortable: 'disabled'},
                       columns: [{field: 'name'}]}">
                </table>
            </div>
        </div>
    </div>
</div>
